<!-- * Article * -->
<div class="media">
    <hr>
    <div class="media-left">
        <a href="{{article.url}}" target="_blank"><img [src]="article.imageUrl" class="media-object img-thumbnail article-img" alt="{{article.title}}"></a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">
            <a href="{{article.url}}" target="_blank">{{ article.title }}</a>
        </h4>
        <p class="vote-buttons">
            <button type="button" class="btn btn-default btn-sm active">
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> {{ article.votes }}
            </button>
            <a href="#" class="label label-default" (click)="upvote();">
                <span class="glyphicon glyphicon-arrow-up"></span>Upvote</a>
            <a href="#" class="label label-default" (click)="downvote();">
                <span class="glyphicon glyphicon-arrow-down"></span>Downvote</a>
        </p>
        <p class="article-date">{{ article.publishedAt | date:'medium' }}</p>
        <p>{{ article.description }}</p>
        <a [href]="article.url" class="read-more btn btn-default btn-sm"><span class="glyphicon glyphicon-book"></span>&nbsp;Read more</a>
    </div>
</div>